# developed with Python 3.11.3 and the following pip installs:
et_xmlfile
filelock
fsspec
gitdb
GitPython
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
openpyxl
osqp
packaging
pandas
pillow
plotly
psutil
pyarrow
python-dateutil
pytz
qdldl
scikit-learn
scipy
six
smmap
sympy
tenacity
thop
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata

# Less restrictive version: (Above is pip freeze output)
numpy # Because of pytorch 2.2.2
pandas
torch 
GitPython  # This is purely here to create the version numbers in the record file
scikit-learn
thop
tqdm
plotly
pyarrow
openpyxl
psutil

# for ADMM:
osqp
torchvision

#For RepDistiller
# tensorflow
# tensorboard_logger
# torchvision

rdflib

matplotlib
kaleido